@font-face {
    font-family: 'Cotoris';
    src: url('../fonts/Cotoris.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CotorisBold';
    src: url('../fonts/CotorisBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CotorisHeavy';
    src: url('../fonts/CotorisHeavy.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CotorisItalic';
    src: url('../fonts/CotorisItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'Cotoris', sans-serif;
}

h1{
    font-family: 'CotorisBold',sans-serif;
}

input{
}

textarea{
    padding: 10px;
    font-size: 16px;
}

h1{
    text-align: center
}

.signup-form{
    text-align: center;
}

.signup-div, .login{
    padding: 10px;
    border-radius: 25px;
    width: 30%;
    margin: 0 auto;
    background-color: rgb(230,230,230);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login{
    overflow: auto;
    text-align: center;
}

.errorlist{
    color: red;
    list-style-type: none;
}
.navbar{
    margin-bottom: 5%;
    font-size:18px;
    display: flex;
    justify-content: space-around;
}

.recipe-list, .right, .second, .third{
    display: flex;
    gap: 25px;
}
.right{
    gap: 20px;
}

#logo{
    height: 100px;
    width: 100px;
    position: absolute;
    left:50%;
    right:50%;
}

.title-create{
    text-align: center;
}


.thumbnail-description-container, .ingredients-steps-container{
    display: flex;
    gap: 20%;
    justify-content: center;
}

#id_description, #id_steps{
    width: 500px;
    height: 400px;
    aspect-ratio: 2/3;
    border-radius: 15px;
    overflow: scroll;
}

#id_ingredients{
    background-color: rgb(240, 236, 230);
    border-radius: 15px;
    aspect-ratio: 2/3;
    border-style: none;
}
.vertical-flex-container{
    display: flex;
    flex-direction: column;
}

#id_title{
    border-radius: 5px;
    min-height: 60px;
    min-width: 350px;
    font-family: 'CotorisBold', sans-serif;
    font-size: 25px;
}

#id_comment{
    border-radius: 5px;
    width: 1200px;
    height: 160px;
}

button {
    font-family: 'Cotoris', sans-serif;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    transition: all 0.2s ease-in-out;
}

.save-button{
    margin-left:45%;
    margin-top: 5%;
}
.signup-button:hover, .login-button:hover {
    background-color: #3e8e41;
    box-shadow: none;
    transform: scale(1.1);
}

.recipe-body{
    margin-left: 50px;
    margin-right: 50px;
}

.recipe-list{
    padding: 5px;
    flex-flow: row wrap;
    justify-content: center;
}

.recipe-list img:hover{
    transform: scale(1.05);
    transition: all ease ;
    cursor: pointer;
}

.recipe-img{
    border-radius: 15px;
    height: 400px;
    width: 250px;
}

.recipe-detail-image{
    width: 500px;
    height: 350px;
}

.first{
    text-align: center;
}

.recipe-tn-title, .recipe-entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-bottom-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.top, .bottom{
    gap: 40px;
    display: flex;
}
.top img{
    width: 80%;
    height: 80%;
}
.top img, .ingredients-detail,
.steps-detail, .description-detail {
    border-radius: 15px;
}
.ingredients-detail{
    padding: 10px;
    width: 50%;
    background-color: rgb(240, 236, 230);
}

.steps-detail, .description-detail{
    padding: 10px;
    border: 1px solid rgb(71, 71, 71);
}

.recipe-entry{
    width:85%;
    margin: 0 auto;
}

.navbar .left, .right{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.comments{
    margin-left: 10%;
}