{% extends 'base.html' %}
{% block content %}
    <div class="recipe-body">
        <h1>Your latest recipes: </h1>
            <p style="margin-left: 10%"><a href="{% url 'recipe_new' %}">Add new recipe +</a></p>
            <div class="recipe-list">
                {% for recipe in object_list %}
                    {% if user == recipe.author %}
                        <div class="recipe-tn-title">
                            <a href="{% url 'recipe_detail' recipe.pk %}"><img class="recipe-img" src="{{ recipe.image.url }}" alt="img"></a>
                            <p>{{ recipe.title }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    </div>
{% endblock %}