{% extends 'base.html' %}
{% block content %}
    <h1>Edit recipe</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="recipe-create">
            <div class="title-create">
                <h2>Title: </h2>
                {{ form.title }}
            </div>
            <div class="vertical-flex-container">
                <div class="thumbnail-description-container">
                    <div class="thumbnail-create">
                        <h2>Thumbnail: </h2>
                        {{ form.image}}
                    </div>
                    <div class="description">
                        <h2>Description: </h2>
                        {{ form.description }}
                    </div>
                </div>
                <div class="ingredients-steps-container">
                    <div class="ingredients">
                        <h2>Ingredients: </h2>
                        {{ form.ingredients }}
                    </div>

                    <div class="steps">
                        <h2>Steps: </h2>
                        {{ form.steps }}
                    </div>
                </div>
            </div>

        </div>
        <button class="save-button" type="submit">Save</button>
    </form>
{% endblock content %}