{% extends 'base.html' %}
{% block content %}
    <h1>Create recipe</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="recipe-create">
            <h2>Title: </h2>
            <p>{{ form.title }}</p>
            <h2>Thumbnail: </h2>
            <p>{{ form.image}}</p>
            <div class="description">
                <h2>Description: </h2>
                <p>{{ form.description }}</p>
            </div>
            <div class="third">
                <div class="ingredients">
                    <h2>Ingredients: </h2>
                    <p>{{ form.ingredients }}</p>
                </div>

                <div class="steps">
                    <h2>Steps: </h2>
                    <p>{{ form.steps }}</p>
                </div>
            </div>
        </div>
        <button class="save-button" type="submit">Save</button>
    </form>
{% endblock content %}